@font-face {
    font-family: Bookman_bolditalic;
    src: url(../fonts/bookman_Bolditalic-font.otf);
}

@font-face {
    font-family: Bookman_regular;
    src: url(../fonts/bookman_Regular-font.otf);
}


* { 
    margin: 0;
    padding: 0;
}

#logo {
    border-radius: 20px;
}

body {
  background-image: url(../images/green_background.jpg);
  background-size: cover;
  background-attachment: fixed;
}

#wrapper {
    display: grid;
    border: 3px solid #eaa219;
    border-radius: 20px;
    width: 1024px;
    margin: 40px auto;
    box-shadow: 10px 10px #A5ADAF;
    background: #FDFDFE;
}

h1 {
    font-family: Bookman_bolditalic;
    align-self: center; 
}

#ice_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden
}

#wwr_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden
}

main {
    display: grid;
    grid-template-columns: 437px 437px; /* New Feature  */
    gap: 50px; /* New Feature  */
    margin: 50px; /* New Feature  */
}

main section {
    width: 437px; /* New Feature  */
    height: 437px; /* New Feature  */
    background: linear-gradient(to bottom, #e0ba78 , #a3723d);
    border: 12px solid #4c613a;
    box-sizing: border-box;  /* New Feature  */
    padding: 8px;
    justify-self: center;
    text-align: center;
}
/* responsive images */
section img {
    max-width: 100%;
    height: auto;
    
}
/**/
header {
    height: 150px;
    border-bottom: 3px solid #4c613a;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

nav {
    background: linear-gradient(to bottom, #e0ba78 , #eaa219);
    border-bottom: 5px solid #4c613a;
    border-top: 3px solid #4c613a;
    box-sizing: border-box;
    font-family: Bookman_regular;
    font-size: 1.75em;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 0;
}

nav a {
    color: #FDFDFE;
    text-decoration: none;
    position: relative;
    height: 42px;
    width: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
}

nav li {
    list-style-type: none;
}

nav li:hover {
    text-shadow: 2px 2px #4c613a;
    background: #a5afa6;
}



#contact {
    background: #A5ADAF;
    width: 200px;
    height: 14px;
    padding: 10px;
    border: 3px solid #4c613a;
    position: fixed;
    bottom: 0px;
    right: 20px;
    transition: height .85s ease-in;
   
}
 

.stretch {
    grid-column: 1 / 3; 
}

footer {
    clear: both;
}
footer p {
    margin: 40px;
}

#contact form { 
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#contact:hover {
    transition: height .85s ease-in;
    height: 200px;
}

.greenTable {
    width: 100%;
    height: 53%;
}

table.greenTable {
  border: 1px solid #4c613a;
  background-color: #EEEEEE;
  text-align: center;
  border-collapse: collapse;
}

table.greenTable td, table.greenTable th {
  border: 3px solid #AAAAAA;
  padding: 3px 2px;
}

table.greenTable tbody td {
  font-size: 13px;
}

table.greenTable thead {
  background: #4c613a;
}

table.greenTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
}

table.greenTable tfoot td {
  font-size: 14px;
}

table.greenTable tfoot .links {
  text-align: right;
}

table.greenTable tfoot .links a{
  display: inline-block;
  background: #4c613a;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}


@media (max-width:1024px) {
    #wrapper{
        width: 100%;
        margin: unset;
    }
    main{
        grid-template-columns: 1fr 1fr;
    }
    main section {
        width: 100%;
        height: 100%;
    }
   
}

@media (max-width: 745px) {
    
    header {
        display: block;
        text-align: center;
        height: unset;
    }
    header img {
        display: none;
    }
    nav ul{
        display: block;
    }
    main {
        display: block;
    }
     #contact {
        position:unset;
        width: 80%;
        margin: auto;
        height: 200px;
    }
    
}